<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"><img class="avatar" src="https://pkimgcdn.peekyou.com/6ac1c72a8f207b5dc0694f0af2c9d7a7.jpeg" alt=""></div>
    <mat-card-title *ngIf="user">{{user?.email}}</mat-card-title>
    <mat-card-subtitle>Author app</mat-card-subtitle>
  </mat-card-header>
  <img class="big__image" mat-card-image src="https://nationalpostcom.files.wordpress.com/2018/09/computersedited.jpg?quality=80&strip=all&w=780" alt="Card Image">
  <mat-card-content>
    <p>
      Ваша робота заповнить більшу частину життя і єдиний спосіб бути повністю задоволеним - робити те, що по-вашому є великою справою. І єдиний спосіб робити великі справи - любити те, що ви робите.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn">LIKE</button>
    <button mat-button color="accent">SHARE</button>
  </mat-card-actions>
</mat-card>
