*{
  margin: 0;
}
.stroked{
  color:#4caf50;
  background-color: #fff;
}
.fff{
  color: #fff;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
  color: #fff;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

 .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
   margin-top: 50px !important;
}

.menu-sidenav-items{
  display: flex;
  flex-direction: column !important;
}
.menu-side{
  margin: 7px auto !important;
}
@media screen and (min-width: 993px){
  .example-sidenav-container {
    margin-top: 0px !important;
  }
}
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0px 0px 20px;
}
.wrapper__right{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
