<section class="full">
<section class="auth__section">

  <img class="sign_png" src="assets/icons/login.png" alt="">
  <h1 i18n>Sign in</h1>

  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <mat-form-field class="form__field">
      <mat-label>Email</mat-label>
        <input matInput ngModel #email="ngModel" name="email" type="email" required>
    </mat-form-field>
    <mat-form-field class="form__field">
      <mat-label>Password</mat-label>
        <input matInput ngModel #password="ngModel" name="password" type="password" required>
    </mat-form-field>
    <div class="form__field"><button class="form__button" mat-raised-button [disabled]="loginForm.invalid" color="primary" type="submit"><span style="color:#fff">Sign in</span></button></div>
  </form>
  <div class="col-12">
    <div class="row" *ngIf="authError">
      <div class="col-12 alert alert-danger">
        <span color="warning">{{ authError?.message }}</span>
      </div>
    </div>
  </div>
  <div class="auth__etc">
    <h4><a routerLink="/auth">Don't have account? Sign up</a></h4>
    <h4><a href="#">Sign in with Google</a></h4>
  </div>
</section>
  <section class="hello">
   <h2 class="hello__h2 animate__animated animate__bounce">Hello, Welcome back</h2>
    <h4 class="hello__h4 animate__animated animate__bounce animate__delay-2s">Sign into your account here</h4>
  </section>
</section>

