<mat-card> Feature №1 : QR-code is working</mat-card>
<mat-card> Feature №2 : Add Cordova </mat-card>
<mat-card> Feature №3 : Books is working</mat-card>
<mat-card> Feature №4 : Dashboard in progress...</mat-card>
<mat-card> Feature №5 : Profile in progress...</mat-card>
<mat-card> Feature №6 : Unit-tests in progress...</mat-card>
<mat-card> Feature №7 : Admin in progress...</mat-card>
<mat-card> Feature №8 : App in Play Market in progress...</mat-card>
<mat-card> Feature №9 : Other Api in progress...</mat-card>
<mat-card> Feature №10 : Coming soon...</mat-card>
