<mat-card> Feaature №1 : QR-code is working</mat-card>
<mat-card> Feaature №2 : Add Cordova </mat-card>
<mat-card> Feaature №3 : Books is working</mat-card>
<mat-card> Feaature №4 : Dashboard in progress...</mat-card>
<mat-card> Feaature №5 : QR-code is working</mat-card>
<mat-card> Feaature №6 : QR-code is working</mat-card>
<mat-card> Feaature №7 : QR-code is working</mat-card>
<mat-card> Feaature №8 : QR-code is working</mat-card>
<mat-card> Feaature №9 : QR-code is working</mat-card>
<mat-card> Feaature №10 : QR-code is working</mat-card>
