<!-----------------------------------------------------------Layout---------------------------------------------------------------------------------->
<!--GoogleBooksApi-->
<mat-card class="books__search">
<h1>Books Api Search</h1>
  <label style="margin: 10px;">
  <input type="search" matInput #search class="search__input" color="primary">
</label>
  <button mat-raised-button color="primary" (click)="googleBooks(search.value)"><span style="color:#fff">Confirm</span></button>
<div *ngFor="let boo of books$">
   <mat-card *ngIf="boo" color="warn">
     {{boo.kind | json}}
     <img src="{{boo.volumeInfo.imageLinks.smallThumbnail}}" alt="">
   </mat-card>
</div>
</mat-card>

<!--DIALOG WINDOW---------------------------------------------------------------------------------------------------->
<ol>
  <li>
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()" color="primary"><span color="#fff">Pick one</span></button>
  </li>
  <li *ngIf="book">
    You chose: <i>{{book}}</i>
  </li>
</ol>
