<!-----------------------------------------------------------Layout---------------------------------------------------------------------------------->
<!--GoogleBooksApi-->
<mat-card class="books__search">
<h1>Books Api Search</h1>
  <mat-form-field style="margin: 5px;">
  <input type="search" color="primary" matInput #search class="search__input" placeholder="Search books">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="googleBooks(search.value)"><span style="color:#fff">Confirm</span></button>
  <div *ngIf="books">
  <div *ngFor="let boo of books">
   <mat-card color="warn" class="book__card">
     <a target="_blank" href="{{boo.accessInfo.webReaderLink}}"><img src="{{boo.volumeInfo.imageLinks.smallThumbnail}}" alt=""></a>
     {{boo.volumeInfo.title}}
   </mat-card>
</div>
  </div>
</mat-card>

<!--DIALOG WINDOW---------------------------------------------------------------------------------------------------->
<ol>
  <li>
    <mat-form-field>
      <mat-label>What's your name?</mat-label>
      <label>
   <input matInput [(ngModel)]="name">
      </label>
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()" color="primary"><span color="#fff">Pick one</span></button>
  </li>
  <li *ngIf="kniga">
    You chose: <i>{{kniga}}</i>
  </li>
</ol>
